
.gameinput-button.gameinput-player3-button0 .text:before {
	content: "A";
}

.gameinput-button.gameinput-player3-button1 .text:before {
	content: "O";
}

.gameinput-button.gameinput-player3-button2 .text:before {
	content: "E";
}

.gameinput-button.gameinput-player3-button3 .text:before {
	content: "U";
}

.gameinput-button.gameinput-player3-button
{
	color: black;
	text-shadow: 0 0 4px white;
	background-color: white;
}
