.gameinput-button.gameinput-player3-button0
{
    background-color: red;
}

.gameinput-button.gameinput-player3-button1 {
    color: black;
    text-shadow: 0 0 4px white;
    background-color: yellow;
}

.gameinput-button.gameinput-player3-button2 {
    background-color: blue;
}

.gameinput-button.gameinput-player3-button3 {
    background-color: green;
}

.gameinput-button.gameinput-player3-button0 .text:before {
    content: "A";
}

.gameinput-button.gameinput-player3-button1 .text:before {
    content: "B";
}

.gameinput-button.gameinput-player3-button2 .text:before {
    content: "X";
}

.gameinput-button.gameinput-player3-button3 .text:before {
    content: "Y";
}

.gameinput-button.gameinput-player3-leftShoulder .text:before {
    content: "LB";
}

.gameinput-button.gameinput-player3-rightShoulder .text:before {
    content: "RB";
}

.gameinput-button.gameinput-player3-leftTrigger .text:before {
    content: "LT";
}

.gameinput-button.gameinput-player3-rightTrigger .text:before {
    content: "RT";
}


