root = true

# All files
[*]
charset = utf-8

# Source files
[*.{js,ts,html,css}]

# Indentation and spacing
indent_style = space
indent_size = 4
tab_width = 4

# New line preferences
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true


# CI files
[{*.{yml}]
indent_size = 2
tab_width = 2
