
.gameinput-button.gameinput-player2-button0 .text:before {
	content: "1";
}

.gameinput-button.gameinput-player2-button1 .text:before {
	content: "2";
}

.gameinput-button.gameinput-player2-button2 .text:before {
	content: "3";
}

.gameinput-button.gameinput-player2-button3 .text:before {
	content: "4";
}

.gameinput-button.gameinput-player2-leftShoulder .text:before {
	content: '5';
}

 .gameinput-button.gameinput-player2-rightShoulder .text:before {
	content: "6";
}

.gameinput-button.gameinput-player2-leftTrigger .text:before {
	content: "7";
}

.gameinput-button.gameinput-player2-rightTrigger .text:before {
	content: "8";
}

.gameinput-button.gameinput-player2-button
{
	color: black;
	text-shadow: 0 0 4px white;
	background-color: white;
}
